@use "styles/variables" as v;

.wrapper {
  width: 300px;
  background: v.$navy;
  height: 100vh;

  h2:nth-child(1) {
    margin: 3rem 0 0.5rem 0;
  }

  h2:nth-child(2) {
    font-size: 4.3rem;
  }
}



.headerTitle {
  text-align: center;
  color: v.$white;
  font-weight: 100;
  font-size: 4rem;
  letter-spacing: 0.25rem;
  margin: 0.5rem;

  svg {
    transform: translateY(12.5%);
  }
}

.navContainer {
  margin: 3rem 0;

  div:nth-child(1) {
    border-top: 0.25px solid v.$white;
  }
}

.menu {
  border-bottom: 1px solid v.$white;
  height: 4.5rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}

.tab {
  font-weight: 100;
  color: v.$white;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}